/* src/CSS/AcercaDeUniGame.css */

.glowing-text {
  text-shadow: 0 0 5px rgba(72, 199, 142, 0.5), 0 0 10px rgba(72, 199, 142, 0.5), 0 0 15px rgba(72, 199, 142, 0.5), 0 0 20px rgba(72, 199, 142, 0.5);
  font-weight: 600;
}

.animate-text {
  display: inline-block;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0%, 100% { color: #fff; }
  50% { color: #48C78E; }
}

h1.title {
  margin-top: -10px; /* Ajustar el margen superior para colocar el título más arriba */
  font-size: 3rem; /* Ajustar tamaño de la fuente */
}

.image-container {
  box-shadow: 0 0 15px 5px rgba(72, 199, 142, 0.5); /* Borde luminoso */
  border-radius: 10px;
}

p {
  font-size: 1.1rem; /* Ajustar tamaño de la fuente del párrafo */
  line-height: 1.6; /* Aumentar el espaciado entre líneas */
  margin-top: 20px; /* Añadir margen superior a los párrafos */
}
