/* src/CSS/adminForms.css */

.box {
  background-color: #1F1F1F;
  color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1.5rem;
}

.input,
.textarea,
.select select {
  background-color: #2C2F33;
  color: white;
  border: none;
  margin-bottom: 1rem;
}

.input:focus,
.textarea:focus,
.select select:focus {
  border: 1px solid #48C78E;
  box-shadow: 0 0 5px rgba(72, 199, 142, 0.5);
}

.button.is-success {
  background-color: #48C78E;
  border-color: #48C78E;
}

.button.is-success:hover {
  background-color: #3AAE71;
  border-color: #3AAE71;
}

.button.is-danger {
  background-color: #FF3860;
  border-color: #FF3860;
}

.button.is-danger:hover {
  background-color: #e02d4f;
  border-color: #e02d4f;
}

.table th {
  background: #090A0C;
}

.table th,
.table td {
  border-color: #2C2F33;
}

.has-text-white {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .box {
    padding: 1rem;
  }

  .columns.is-multiline {
    display: block;
  }

  .column.is-half {
    width: 100%;
  }
}

/* adminForms2.css */
.table {
  background-color: #090A0C;
}

.table th,
.table td {
  color: white;
  background-color: #090A0C;
  /* Asegura que todas las celdas tengan fondo negro */
}

/* Desactivar las rayas alternas de Bulma */
.table.is-striped tbody tr:nth-child(odd) {
  background-color: #090A0C;
  /* Fondo negro para filas impares */
}

.table.is-striped tbody tr:nth-child(even) {
  background-color: #090A0C;
  /* Fondo negro para filas pares */
}
.button-tooltip {
  position: relative;
  display: inline-block;
}

.button-tooltip::after {
  content: attr(data-tooltip); /* Utiliza el atributo data-tooltip para el contenido del tooltip */
  position: absolute;
  bottom: calc(100% + 5px); /* Coloca el tooltip encima del botón */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra exactamente sobre el botón */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo del tooltip */
  color: white; /* Color del texto */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 0.8rem; /* Tamaño de la fuente */
  border-radius: 4px; /* Bordes redondeados */
  opacity: 0; /* Inicialmente oculto */
  pointer-events: none; /* Evita interacciones con el tooltip */
  transition: opacity 0.3s ease; /* Transición suave */
}

.button-tooltip:hover::after {
  opacity: 1; /* Muestra el tooltip al pasar el mouse sobre el botón */
}
