/* src/CSS/adminForms.css */

.container {
  background-color: #14161A;
  color: white;
}

.box {
  background-color: #1F1F1F;
  color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1.5rem;
}

.input,
.textarea,
.select select {
  background-color: #2C2F33;
  color: white;
  border: none;
  margin-bottom: 1rem;
}

.input:focus,
.textarea:focus,
.select select:focus {
  border: 1px solid #48C78E;
  box-shadow: 0 0 5px rgba(72, 199, 142, 0.5);
}

.button.is-success {
  background-color: #48C78E;
  border-color: #48C78E;
}

.button.is-success:hover {
  background-color: #3AAE71;
  border-color: #3AAE71;
}

.button.is-danger {
  background-color: #FF3860;
  border-color: #FF3860;
}

.button.is-danger:hover {
  background-color: #e02d4f;
  border-color: #e02d4f;
}

.table th,
.table td {
  border-color: #2C2F33;
}

.has-text-white {
  color: white !important;
}

.box:nth-child(2) {
  background-color: #090A0C;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .box {
    padding: 1rem;
  }

  .columns.is-multiline {
    display: block;
  }

  .column.is-half {
    width: 100%;
  }
}

/* Tooltip container */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

/* Tooltip text */
[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
  z-index: 1000;
}

/* Tooltip position */
[data-tooltip]:hover:before {
  opacity: 1;
  transform: translateY(-20px);
}