/* adminForms.css */

.input::placeholder,
.textarea::placeholder {
  color: #888; /* Color del texto del placeholder */
}

.box {
  background-color: #1f1f1f;
  color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1.5rem;
}

.input,
.textarea,
.select select {
  background-color: #2c2f33;
  color: white;
  border: none;
  margin-bottom: 1rem;
}

.input:focus,
.textarea:focus,
.select select:focus {
  border: 1px solid #48c78e;
  box-shadow: 0 0 5px rgba(72, 199, 142, 0.5);
}

.button.is-success {
  background-color: #48c78e;
  border-color: #48c78e;
}

.button.is-success:hover {
  background-color: #3aae71;
  border-color: #3aae71;
}

.button.is-danger {
  background-color: #ff3860;
  border-color: #ff3860;
}

.button.is-danger:hover {
  background-color: #e02d4f;
  border-color: #e02d4f;
}

.table th {
  background: #090a0c;
}

.table th,
.table td {
  border-color: #2c2f33;
}

.has-text-white {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .box {
    padding: 1rem;
  }

  .columns.is-multiline {
    display: block;
  }

  .column.is-half {
    width: 100%;
  }
}

/* adminForms2.css */
.table {
  background-color: #090a0c;
}

.table th,
.table td {
  color: white;
  background-color: #090a0c;
}

/* Desactivar las rayas alternas de Bulma */
.table.is-striped tbody tr:nth-child(odd) {
  background-color: #090a0c;
}

.table.is-striped tbody tr:nth-child(even) {
  background-color: #090a0c;
}

/* Tooltips */
.button-tooltip {
  position: relative;
  display: inline-block;
  
}

.button-tooltip:hover::after {
  opacity: 1;
  
}

/* Botones y Iconos */
.buttons.is-grouped {
  text-align: center; /* Alinea los botones horizontalmente en el centro */
}

.buttons.is-grouped .button {
  margin: 0; /* Elimina cualquier margen entre los botones */
  vertical-align: middle; /* Alinea verticalmente los botones */
  display: inline-block; /* Asegura que los botones estén en línea */
}

.buttons.is-grouped .button .icon {
  display: flex; /* Usa flexbox para alinear los iconos */
  align-items: center; /* Alinea verticalmente los iconos */
  justify-content: center; /* Alinea horizontalmente los iconos */
}

.buttons.is-grouped .button .icon i {
  display: inline-block; /* Asegura que el icono sea inline-block */
}

.button.is-small {
  padding: 3px 7px; /* Ajusta el padding para hacer los botones más pequeños */
  font-size: 12px; /* Ajusta el tamaño de la fuente */
}
.is-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
