.buzon-container {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-right: 10px;
  }
  
  .message-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }
  
  .username {
    font-size: 0.8em;
    color: #48C78E;
    margin-bottom: 5px;
  }
  
  .message-card {
    background-color: #48C78E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* Standard property */
  }
  
  .message-text {
    margin: 0;
  }
  
  .delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0;
    font-size: 0.8em;
    align-self: flex-end;
  }
  
  .message-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #3c3c3c;
  }
  
  .input {
    background-color: #3c3c3c;
    color: white;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    padding: 10px;
  }
  
  .message-input {
    flex: 1;
  }
  
  .send-button {
    background-color: #48C78E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #3cb373;
  }
  