input::placeholder,
textarea::placeholder {
  color: #888; 
}

#contact{
  box-shadow: 0 0 15px 5px rgba(72, 199, 142, 0.5);

}
.contact-section {
  background-color: #14161A;
  color: white;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
}

.image-container {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 15px 5px rgba(72, 199, 142, 0.5);
  border-radius: 10px;
}

.contact-image {
  display: block;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.contact-box {
  background-color: #2C2F33;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(72, 199, 142, 0.5);
}

.contact-title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 20px;
}

.contact-description {
  margin-bottom: 20px;
}

.contact-label {
  color: white;
}

.contact-input,
.contact-textarea,
.contact-select select {
  background-color: #1e2025;
  color: white;
  border: 1px solid #444;
}

.contact-textarea {
  padding-left: 40px;
}

.contact-button {
  background-color: #48C78E;
  border-color: #48C78E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-button:hover {
  background-color: #3e9d6e;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
  
  .contact-title {
    font-size: 10px; 
  }
  #titlee{
    margin-top: 10px;
    font-size: 25px; 

  }
  .image-container, .contact-box {
    width: 100%;
    margin-bottom: 18px;
  }
}
