/* src/CSS/ContactForm.css */

.field .label {
  color: #48C78E;
}

.box {
  border: 1px solid #48C78E;
  box-shadow: 0 0 10px rgba(72, 199, 142, 0.5);
  border-radius: 10px;
  padding: 30px;
}

.input:focus, .textarea:focus {
  border-color: #48C78E;
  box-shadow: 0 0 5px rgba(72, 199, 142, 0.5);
}

.button:hover {
  background-color: #3AAE71;
  border-color: #3AAE71;
}

.icon.is-left {
  color: #48C78E;
}

.input::placeholder, .textarea::placeholder {
  color: #777;
}

.input.has-icons-left, .textarea.has-icons-left {
  padding-left: 2.5em; /* Añade espacio para el icono */
}

.input.has-icons-left .icon.is-left, .textarea.has-icons-left .icon.is-left {
  left: 10px; /* Ajustar posición del icono */
}

textarea {
  resize: vertical; /* Permitir redimensionar verticalmente */
}

.image-container {
  box-shadow: 0 0 15px 5px rgba(72, 199, 142, 0.5); /* Borde luminoso */
  border-radius: 10px;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column-reverse;
  }
  .box {
    padding: 20px;
  }
}

.message-box {
  border: 2px solid #363636; /* Ajusta el color y el grosor del borde según sea necesario */
  padding: 10px;
  margin-bottom: 10px;
}

.message-text {
  max-width: 100%; /* Establece un ancho máximo para el texto del mensaje */
  overflow-wrap: break-word; /* Permite que el texto haga saltos de línea automáticamente */
}
  