.curso-card {
  background-color: #1e1e2f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
}

.curso-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.curso-card.selected {
  border: 2px solid #00d1b2;
  height: auto;
}

.curso-card.selected::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00d1b2;
  animation: borderAnimation 2s linear infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: #00d1b2;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #00d1b2;
  }
}

.curso-card .title {
  font-size: 1.5rem;
}

.curso-card .button {
  margin-top: 20px;
}

@keyframes lift {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.curso-card.animate {
  animation: lift 1s ease;
}

.temas-container {
  transition: height 0.3s ease, overflow 0.3s ease;
}

.has-text-centered {
  text-align: center;
}

.has-text-grey-light {
  color: #B0B0B0;
}
