#ww {
    color: white;
}

.perfil-box {
    background-color: #1f1f1f;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(50, 115, 220, 0.5); 
}

.perfil-imagen {
    margin: 0 auto;
    box-shadow: 0 0 15px 5px rgba(72, 199, 142, 0.5); 
    border-radius: 50%; /* Asegura que el contenedor tenga bordes redondeados */
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
    width: 128px; /* Tamaño fijo para el contenedor */
    height: 128px; /* Tamaño fijo para el contenedor */
}

.perfil-imagen img {
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el contenedor */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    border-radius: 50%; /* Asegura que la imagen tenga bordes redondeados para parecer un círculo */
}

.inputperfil {
    background-color: #2C2F33;
    color: white;
    border: none;
    box-shadow: none;
}

.inputperfil:focus {
    border: 1px solid #48C78E;
    box-shadow: 0 0 5px rgba(72, 199, 142, 0.5);
}

button.is-info {
    background-color: #48C78E;
    border-color: #48C78E;
}

button.is-info:hover {
    background-color: #3AAE71;
    border-color: #3AAE71;
}

button.is-danger {
    margin-left: 10px;
}

.modal-content {
    max-width: 800px;
    width: 100%;
}

.modal-close {
    background-color: transparent;
}

.datos-titulo {
    color: #48C78E;
    text-shadow: 0 0 5px rgba(72, 199, 142, 0.5);
}

.usuario-titulo {
    color: #3273dc;
    text-shadow: 0 0 5px rgba(50, 115, 220, 0.5);
}
