.footer {
    background-color: #14161A;
    padding: 2rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  
  .footer .content {
    color: white;
    text-align: center;
  }
  
  .footer .buttons .button {
    margin: 0.5rem;
  }
  
  .footer .buttons .button.is-light {
    background-color: #1e1e2f;
    color: white;
    border: 1px solid #444;
  }
  
  .footer .buttons .button.is-light:hover {
    background-color: #2c2f33;
    border-color: #fff;
  }
  
  .footer p {
    margin: 1rem 0;
  }
  
  .modal-card {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    background-color: transparent;
  }
  
  .modal-card .title,
  .modal-card .subtitle {
    color: white;
  }
  