/* styles.css */

#imagenGrande {
    width: 500px; /* Ancho deseado */
    height: 600px; /* Alto deseado */
    padding: 40px;
  }
  
  .tarjeta-larga {
    width: 600px;
    
  }
  /* Agrega estilos personalizados al carrusel y a las imágenes */
.slider-container {
    max-width: 800px; /* Ajusta el ancho máximo del carrusel según tus necesidades */
    margin: auto; /* Centra el carrusel horizontalmente */
  }
  
  .slider-slide {
    text-align: center; /* Centra las imágenes dentro del carrusel */
  }
  
  .slider-slide img {
    max-width: 100%; /* Hace que las imágenes ocupen el 100% del ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }
  .has-background-light-black {
    background-color: rgba(46, 40, 40, 0.8);
  }
  .change-color-on-hover:hover {
    color: black;
  }
  .has-text-white:hover {
    color: black;
    color:rgb(189, 189, 189)
  }
  @keyframes colorChange {
    0% {
      color: rgb(72, 255, 154);
    }
    50% {
      color: rgb(122, 238, 139);
    }
    100% {
      color: rgb(87, 255, 115);
    }
  }
  .color-change {
    text-shadow: 0 0 10px rgb(21, 21, 34), 0 0 20px rgb(195, 195, 255), 0 0 30px rgb(248, 248, 255);
    animation: colorChange 2s infinite alternate;
  }
  
  
  
  
  