.temas-container {
  margin: 0 auto;
  background-color: #14161A;
  padding: 20px;
  padding-inline: 10%;
}

.temas-header {
  font-size: 36px;
  color: white;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.temas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.temas-card {
  background-color: #1e2025;
  border-radius: 5px;
  padding: 10px; /* Ajuste del padding para hacer la tarjeta más delgada */
  cursor: pointer;
  position: relative;
  overflow: visible;
  transition: border-color 0.3s, transform 0.3s, box-shadow 0.3s;
  animation: elevate 3s infinite ease-in-out;
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta el alto según sea necesario */
}

.temas-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  z-index: 1; /* Asegura que las tarjetas se superpongan correctamente */
}

.temas-card-title {
  font-weight: bold;
  color: white;
  margin-bottom: 12px;
  text-align: center;
}

.temas-card-container {
  position: relative;
}

.temas-modal {
  position: absolute;
  width: 100%; /* Ajuste del ancho del modal */
  background-color: #2c2f33;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 110%; /* Ajusta la posición del modal debajo de la tarjeta */
  transition: opacity 0.3s;
}

.temas-modal-content {
  color: white;
}

.temas-list {
  list-style-type: disc;
  margin-left: 20px;
}
