
@media (max-width: 768px) {
  .container > .columns {
    padding-left: 10px;
    padding-right: 10px;
  }
  .column.is-half {
    padding: 10px;
  }
}


@media screen and (max-width: 1024px) {
  .has-text-white {
    font-size: 1.3rem;
  }
}


@media screen and (max-width: 768px) {
  .has-text-white {
    font-size: 1.1rem;
  }
}

#imagenGrande {
  width: 500px;
  height: 600px;
  padding: 40px;
}

.tarjeta-larga {
  width: 600px;
}

.carousel-background {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.slider-slide {
  text-align: center;
}

.slider-slide img {
  width: 100%;
  height: 350px; 
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  animation-duration: 1s; 
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



.slider-slide img:hover {
  transform: scale(1.05);
}


.side-image {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 5px;
}

.has-background-light-black {
  background-color: rgba(46, 40, 40, 0.8);
}

.change-color-on-hover:hover {
  color: black;
}

.has-text-white:hover {
  color: rgb(189, 189, 189);
}

@keyframes colorChange {
  0% {
    color: rgb(72, 255, 154);
  }
  50% {
    color: rgb(122, 238, 139);
  }
  100% {
    color: rgb(87, 255, 115);
  }
}

.color-change {
  text-shadow: 0 0 10px rgb(21, 21, 34), 0 0 20px rgb(195, 195, 255), 0 0 30px rgb(248, 248, 255);
  animation: colorChange 2s infinite alternate;
}

.navbar-item:hover, .button:hover, .navbar-link:hover {
  color: #000000;
}

.navbar-item .button {
  margin-right: 1rem;
}

.navbar-item .button:hover {
  background-color: #000000;
  color: #ffffff;
}

.content {
  margin-top: 2rem;
}

.title, .subtitle, .has-text-white {
  margin-bottom: .5rem;
}

.animate__bounceInLeft {
  animation-duration: 2s;
}

.slider-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-image {
  width: auto;
  max-height: 500px; 
  object-fit: cover;
}

.dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.button-back:hover {
  background-color: #00D1B2;
}

.label {
  color: black;
}

#inputperfil {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.welcome-container {
  position: relative;
  z-index: 1;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.additional-text {
  margin-top: 60px;
  text-align: center;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slider-slide {
  animation: slideInRight 1s forwards;
}

.slider-slide.fadeOut {
  animation: slideInLeft 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    color: rgb(0, 231, 0);
  }
  50% {
    color: rgb(0, 234, 255);
  }
  100% {
    color: rgb(0, 231, 0);
  }
}

.additional-text {
  animation: fadeIn 2s ease-in-out;
}

.color-change {
  animation: colorChange 5s infinite;
}
.input::placeholder,
.textarea::placeholder {
  color: #888; 
}