.full-screen-container {
    height: 100vh; 
    width: 100%; 
    background-color: #000000; 
    overflow: auto; 
}  
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loading-circle {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.step-box {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  font-size: 20px;
}

.delete-icon:hover::after {
  content: 'Eliminar';
  position: absolute;
  top: -20px;
  right: 0;
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}

.add-button {
  position: relative;
}

.add-button:hover::after {
  content: 'Agregar ';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}
.button.tooltip {
  position: relative;
}

.button.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
  padding: 6px 12px; 
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.2s ease, visibility 0s linear 0.2s; 
}

.button.tooltip:hover::after {
  visibility: visible; 
  opacity: 1; 
}
